<!-- schedule Section Begin -->
<section class="classes-section spad">
  <br>
  <br>
  <div class="container">
      <h1 style="color: #f36100; font-size: 32px; text-transform: uppercase; margin-top: 5px; font-weight: 800; text-align: center;">
          {{activity?.name}}
      </h1>
      <br>
      <br>
      <div class="row">
          <div class="col-8">
              <div class="row">
                  <div class="col-lg-12">
                      <h2 style="color: #ffffff; font-size: 32px; font-weight: 600; text-transform: uppercase; margin-top: 8px; margin-bottom: 45px;">
                          Descripcion
                      </h2>
                      <p class="activitieBoxIntext">{{activity?.description}}</p>
                  </div>
              </div>
              <br>
              <!--schedule header Begin-->
              <div>
                  <h2 style="margin-bottom: 45px; color: white; font-size: 32px; font-weight: 600; text-transform: uppercase; margin-top: 8px;">Horarios</h2>
                  <br>
                  <div class="row boxAling">
                      <div class="col-lg-2 col-md-2 scheduleBox activitieBoxTitle">Lunes</div>
                      <div class="col-lg-2 col-md-2 activitieBox activitieAling">
                          <h3 class="activitieBoxTitle">{{activity?.monday}}</h3>
                      </div>
                  </div>
                  <br>
                  <br>
                  <div class="row boxAling">
                      <div class="col-lg-2 col-md-2 scheduleBox activitieBoxTitle">Martes</div>
                      <div class="col-lg-2 col-md-2 activitieBox activitieAling">
                          <h3 class="activitieBoxTitle">{{activity?.tuesday}}</h3>
                      </div>
                  </div>
                  <br>
                  <br>
                  <div class="row boxAling">
                      <div class="col-lg-2 col-md-2 scheduleBox activitieBoxTitle">Miercoles</div>
                      <div class="col-lg-2 col-md-2 activitieBox activitieAling">
                          <h3 class="activitieBoxTitle">{{activity?.wednesday}}</h3>
                      </div>
                  </div>
                  <br>
                  <br>
                  <div class="row boxAling">
                      <div class="col-lg-2 col-md-2 scheduleBox activitieBoxTitle">Jueves</div>
                      <div class="col-lg-2 col-md-2 activitieBox activitieAling">
                          <h3 class="activitieBoxTitle">{{activity?.thursday}}</h3>
                      </div>
                  </div>
                  <br>
                  <br>
                  <div class="row boxAling">
                      <div class="col-lg-2 col-md-2 scheduleBox activitieBoxTitle">Viernes</div>
                      <div class="col-lg-2 col-md-2 activitieBox activitieAling">
                          <h3 class="activitieBoxTitle">{{activity?.friday}}</h3>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <img src="/api/group-activities/{{activity?.id}}/image" style="border-style: solid; border-width: 5px; border-color: #f36100; border-radius: 100%; width:300px; height:300px; object-fit:cover; margin: auto;">
          </div>
      </div>
  </div>
</section>
<!-- schedule Section End -->
