<!-- Hero Section Begin -->

<section class="hero-section">
  <div class="slide">
    <div class="slide-inner">
      <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
      <div class="slide-item">
        <img src="/assets/img/hero/hero-1.jpg">
        <div class="container slide-text">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="hi-text">
                        <span>Ruky Gymastic</span>
                        <h1 style="color: white;">be <strong style="color: #f36100;">Stronger</strong></h1>
                        <a href="new/sign-in" class="primary-btn">Regístrate</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
        <img src="/assets/img/hero/hero-2.jpg">
        <div class="container slide-text">
          <div class="row">
              <div class="col-lg-6 offset-lg-6">
                  <div class="hi-text">
                    <span>Ruky Gymastic</span>
                    <h1 style="color: white;">Por <strong style="color: #f36100;">menos</strong> de los que piensas</h1>
                    <a href="new/prices" class="primary-btn">Precios</a>
                </div>
              </div>
            </div>
        </div>
      </div>
      <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
        <img src="/assets/img/breadcrumb-bg.jpg">
        <div class="container slide-text">
          <div class="row">
              <div class="col-lg-6 offset-lg-6">
                <div class="hi-text">
                  <span>Ruky Gymastic</span>
                  <h1 style="color:white;"><strong style="color: #f36100;">Actividades</strong> para ti</h1>
                  <a href="new/main-activities" class="primary-btn">Actividades</a>
                </div>
              </div>
            </div>
        </div>
      </div>
      <label for="slide-3" class="slide-control prev control-1">‹</label>
      <label for="slide-2" class="slide-control next control-1">›</label>
      <label for="slide-1" class="slide-control prev control-2">‹</label>
      <label for="slide-3" class="slide-control next control-2">›</label>
      <label for="slide-2" class="slide-control prev control-3">‹</label>
      <label for="slide-1" class="slide-control next control-3">›</label>
      <ol class="slide-indicador">
        <li>
          <label for="slide-1" class="slide-circulo">•</label>
        </li>
        <li>
          <label for="slide-2" class="slide-circulo">•</label>
        </li>
        <li>
          <label for="slide-3" class="slide-circulo">•</label>
        </li>
      </ol>
    </div>
  </div>
</section>

<!-- Hero Section End -->

<!-- ChoseUs Section Begin -->
<section class="choseus-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <span>¿Por qué nosotros?</span>
                  <h2>PONTE AL LIMITE</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-sm-6">
              <div class="cs-item">
                  <span class="flaticon-034-stationary-bike"></span>
                  <h4>Equipo actualizado</h4>
                  <p>Contamos con los mejores profesionales y los equipos mas vanguardistas.</p>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="cs-item">
                  <span class="flaticon-037-medal"></span>
                  <h4>Las mejores tablas de ejercicios</h4>
                  <p>Da igual como seas, nusestas tablas se adaptan a ti para llevarte al limite.</p>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="cs-item">
                  <span class="flaticon-002-dumbell"></span>
                  <h4>Siempre cerca de ti</h4>
                  <p>Los mejor cerca de ti buscanos.</p>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="cs-item">
                  <span class="flaticon-014-heart-beat"></span>
                  <h4>Ponte en forma con nosotros</h4>
                  <p>Todos nuestros recursos a tu disposicion para que alcances tus metas.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ChoseUs Section End -->

<!-- Banner Section Begin -->
<section class="banner-section set-bg" style="background-image: url(/assets/img/banner-bg.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="bs-text">
                  <h2>Regístrate ahora con nuentras nuevas ofertas</h2>
                  <div class="bt-tips">El camino al exito está a tu alcance</div>
                  <a href="new/sign-in" class="primary-btn  btn-normal">Regístrate ahora</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Gallery Section Begin -->
<div class="gallery-section">
  <div class="gallery">
      <div class="grid-sizer"></div>
      <div class="gs-item grid-wide set-bg" style="background-image: url(/assets/img/gallery/gallery-1.jpg);"></div>
      <div class="gs-item set-bg" style="background-image: url(/assets/img/gallery/gallery-2.jpg);"></div>
      <div class="gs-item set-bg" style="background-image: url(/assets/img/gallery/gallery-3.jpg);"></div>
      <div class="gs-item set-bg" style="background-image: url(/assets/img/gallery/gallery-4.jpg);"></div>
      <div class="gs-item set-bg" style="background-image: url(/assets/img/gallery/gallery-5.jpg);"></div>
      <div class="gs-item grid-wide set-bg" style="background-image: url(/assets/img/gallery/gallery-6.jpg);"></div>
  </div>
</div>
<!-- Gallery Section End -->

<!-- Team Section Begin -->

<section class="team-section spad">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="team-title">
            <div class="section-title">
                <span>Nuestro equipo</span>
                <h2>Entrena con expertos</h2>
            </div>
            <a href="new/contactUs" class="primary-btn btn-normal appoinment-btn">Contactanos</a>
        </div>
    </div>
    <div *ngFor="let elem of monitors" class="col-lg-4">
      <div class="ts-item set-bg" data-setbg="" style="background-image: url(/api/users/monitors/{{elem.id}}/image/);">
          <div class="ts_text">
              <h4>{{elem.name}}</h4>
              <span>Gym Trainer</span>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- Team Section End -->
