<!-- Activities Section Begin -->
<section class="classes-section spad">
  <br>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <span>Actividades grupales</span>
                  <h2>Actividades para vosotros</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="class-item">
                  <div class="ci-pic">
                      <img src="/assets/img/classes/class-1.jpg" alt="">
                  </div>
                  <div class="ci-text">
                      <span>STRENGTH</span>
                      <h5>Weightlifting</h5>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="class-item">
                  <div class="ci-pic">
                      <img src="/assets/img/classes/class-2.jpg" alt="">
                  </div>
                  <div class="ci-text">
                      <span>Cardio</span>
                      <h5>Indoor cycling</h5>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="class-item">
                  <div class="ci-pic">
                      <img src="/assets/img/classes/class-3.jpg" alt="">
                  </div>
                  <div class="ci-text">
                      <span>STRENGTH</span>
                      <h5>Kettlebell power</h5>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="class-item">
                  <div class="ci-pic">
                      <img src="/assets/img/classes/class-4.jpg" alt="">
                  </div>
                  <div class="ci-text">
                      <span>Cardio</span>
                      <h4>Indoor cycling</h4>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="class-item">
                  <div class="ci-pic">
                      <img src="/assets/img/classes/class-5.jpg" alt="">
                  </div>
                  <div class="ci-text">
                      <span>Training</span>
                      <h4>Boxing</h4>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Activities Section End -->
