
<div class="container-fluid">

  <h2> Zumba </h2>

  <br>
  <br>

  <div class="row">
      <div class="col-8">
          <div class="row">
              <div class="col-lg-12">
                  <h3> Descripcion </h3>
                  <br>
                  <p>Zumba es un programa de ejercicios que combina música latina e internacional con movimientos de baile. Las rutinas de Zumba incorporan el entrenamiento por intervalos en el que se alternan ritmos rápidos y lentos para ayudar a mejorar el estado cardiovascular.</p>
              </div>
          </div>
          <br>

          <div>
              <h3>Horario</h3>
              <br>
              <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <h3>Lunes</h3>
                  </div>

                  <div class="col-lg-2 col-md-2">
                      <h3>10:00</h3>
                  </div>

              </div>
              <br>
              <br>
              <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <h3>Martes</h3>
                  </div>

                  <div class="col-lg-2 col-md-2">
                      <h3>10:00</h3>
                  </div>

              </div>
              <br>
              <br>
              <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <h3>Miercoles</h3>
                  </div>

                  <div class="col-lg-2 col-md-2">
                      <h3>10:00</h3>
                  </div>

              </div>
              <br>
              <br>
              <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <h3>Jueves</h3>
                  </div>

                  <div class="col-lg-2 col-md-2">
                      <h3>10:00</h3>
                  </div>

              </div>
              <br>
              <br>
              <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <h3>Viernes</h3>
                  </div>

                  <div class="col-lg-2 col-md-2">
                      <h3>10:00</h3>
                  </div>

              </div>
          </div>
      </div>
      <div class="col-4">
          <!-- falta traerse la imagen de la actividad-->
          <img src="/assets/logo.png" width=100%>
      </div>
  </div>

</div>
