<!-- Contact us Section Begin -->
<section class="classes-section spad">
  <br>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>Contactanos</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-5" style="border: 2px solid orange; border-radius: 5px;">
              <div class="section-title">
                  <h2>Información</h2>
              </div>
              <ul class="cs-item" style="list-style-type:none;">
                  <li>
                      <h4>Dirección:</h4>
                      <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                  </li>
                  <li>
                      <h4>Mail:</h4>
                      <p>Support.gymcenter@gmail.com</p>
                  </li>
                  <li>
                      <h4>Teléfono:</h4>
                      <ul style="list-style-type:none;">
                          <li>
                              <p>125-711-811</p>
                          </li>
                          <li>
                              <p>125-668-886</p>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
          <div class="col-lg-7">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12165.154085339731!2d-3.8757129!3d40.335945200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1644331948513!5m2!1ses!2ses" width="600" height="450" style="border:0; border-radius: 5px;"
                  allowfullscreen="" loading="lazy"></iframe>
          </div>
      </div>
  </div>
</section>
<!-- Contact us Section End -->
