<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="row el-element-overlay">
                    <div class="col-lg-8 col-md-12 col-12 card-body">

                        <h4 class="card-title" style="color: black; margin-bottom: 20px; padding-left: 9px;">Datos generales</h4>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Nombre: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">Zumba</span>
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Sala: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">Sala Actividades 1</span>
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Precio: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">2200</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Capacidad: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="number" class="form-control ">12</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Lunes: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">12:00</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Martes: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">11:00</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Miércoles: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">10:00</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Jueves: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">9:00</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Viernes: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <span type="text " class="form-control ">10:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-12 image ">
                        <div class="el-card-avatar el-overlay-1 ">
                            <img src="/activity/32/image" width="100%" alt="user ">
                        </div>
                    </div>
                </div>

                <div class="card-body ">
                    <div class="border-top card "></div>
                </div>

                <div class="card-body ">
                    <h4 class="card-title " style="color: black; margin-bottom: 20px; ">Descripción</h4>
                    <!-- Create the editor container -->
                    <div style="height: 300px; color: black; ">
                        <p>Zumba es un programa de ejercicios que combina música latina e internacional con movimientos de baile. Las rutinas de Zumba incorporan el entrenamiento por intervalos en el que se alternan ritmos rápidos y lentos para ayudar a
                            mejorar el estado cardiovascular.</p>
                    </div>
                </div>
            </div>
            <div class="row el-element-overlay">
                <div class="col-12 buttonsAddActivity">
                    <button class="btn default btn-outline el-link selector2" type="button"><a href="/editActivity/32">Editar</a></button>
                    <button class="btn default btn-outline el-link selector2" type="button"><a href="/activity/delete/32">Eliminar</a></button>
                    <button class="btn default btn-outline el-link selector2" type="button"><a href="/activities">Cancelar</a></button>
                </div>
            </div>
        </div>
    </div>
</div>