<h5>Clientes</h5>

<div class="table-responsive colorBlackText">
    <table id="zero_config" class="table table-striped table-bordered ">

        <thead class="colorOrangeText">
            <tr>
                <th>Nombre</th>
                <th>Año de nacimiento</th>
                <th>DNI/NIE</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody class="colorBlackText">
            <tr>
                <td>Gerard</td>
                <td>02/02/1987</td>
                <td>22222222A</td>
                <td><label class="customcheckbox m-b-20">
                <input type="checkbox" id="mainCheckbox64" name="id" value="64">
                <span class="checkmark"></span>
            </label></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="loadMore">
    <button class="btn default btn-outline el-link selector2 colorWhiteText" type="button" id="loadMore">
        Cargar más
        <i class="" id="spinner"></i>
    </button>
</div>

<div class="col-12 buttonsAddActivity">
    <input class="btn default btn-outline el-link selector2 colorWhiteText separate" type="submit" value="Eliminar">
    <button class="btn default btn-outline el-link selector2 colorWhiteText" type="button" onclick="location.href='/new/clients'">Cancelar</button>
</div>