<div *ngIf="visible" id="sideMenu" class="navColor">
    <div class="col-12">
        <ul class="nav navPillsPersonalized nav-stacked fixNav">
            <a href="schedule">
                <li [ngClass]="classStatistics">Horario</li>
            </a>
            <a href="profile">
                <li [ngClass]="classActivities">Perfil</li>
            </a>
            <a href="monitorExerciseTable">
                <li [ngClass]="classMonitors">Tablas de ejercicios</li>
            </a>
            <a href="monitorActivities">
                <li [ngClass]="classClients">Actividades</li>
            </a>
        </ul>
    </div>
</div>
