<div *ngIf="visible" id="sideMenu" class="navColor">
    <div class="col-12">
        <ul class="nav navPillsPersonalized nav-stacked fixNav">
            <a href="statistics">
                <li [ngClass]="classStatistics">Estadísticas</li>
            </a>
            <a href="activities">
                <li [ngClass]="classActivities">Actividades</li>
            </a>
            <a href="monitors">
                <li [ngClass]="classMonitors">Monitores</li>
            </a>
            <a href="clients">
                <li [ngClass]="classClients">Clientes</li>
            </a>
        </ul>
    </div>
</div>
