<link rel="stylesheet" href="/assets/css/main.css" type="text/css">

<!-- Responsive Menu Section Begin -->
<div class="offcanvas-menu-overlay active" *ngIf="num==1"></div>
<div class="offcanvas-menu-wrapper show-offcanvas-menu-wrapper" *ngIf="num==1">
  <div class="canvas-close" (click)="responsiveMenu()">
      <i class="fa fa-close"></i>
  </div>
  <nav class="canvas-menu mobile-menu">
      <ul>
          <li><a href="new/mainPage">Home</a></li>
          <li><a href="new/prices">Tarifas</a></li>
          <li><a href="new/main-activities">Actividades</a></li>
          <li><a href="new/contactUs">Contactanos</a></li>
      </ul>
  </nav>
  <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
      <ul>
          <li><a href="new/mainPage" role="menuitem">Home</a></li>
          <li><a href="new/prices" role="menuitem">Tarifas</a></li>
          <li><a href="new/main-activities" role="menuitem">Actividades</a></li>
          <li><a href="new/contactUs" role="menuitem">Contactanos</a></li>
      </ul>
  </nav></div></div>
  <div class="canvas-social">
      <a href="/USR_log_in">Log in</a>
      <a href="/USR_sign_in">Sign in</a>
  </div>
</div>
<!-- Responsive Menu Section End -->

<!--Header section begin-->
<div class="header-section">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
              <div class="logo">
                  <a href="new/mainPage">
                      <img src="/assets/logo.png" alt="" width="200px">
                  </a>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="nav-menu">
                  <ul>
                      <li class="active"><a href="new/mainPage" style="outline: none;">Home</a></li>
                      <li><a href="new/prices">Tarifas</a></li>
                      <li><a href="new/main-activities">Actividades</a></li>
                      <li><a href="new/contactUs">Contactanos</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
              <div class="top-option">
                  <div class="to-social">
                      <a href="">Log in</a>
                      <a href="">Sign in</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="canvas-open" (click)="responsiveMenu()">
        <i class="fa fa-bars"></i>
      </div>
  </div>
</div>
<!--Header section end-->

<content #content></content>

<footer></footer>
