<div class="footer">
    <div class="row">
        <div class="col-4" style="text-align: left">
            <p>RukyGym web application</p>
            <p>DAW</p>
            <p>2021 - 2022</p>
            <p>Grupo 3</p>
        </div>
        <div class="col-4" style="text-align: center; border-right: white dashed 2px; border-left: white dashed 2px;">
            <p>RukyGym web application</p>
            <p>DAW</p>
            <p>2021 - 2022</p>
            <p>Grupo 3</p>
        </div>
        <div class="col-4" style="text-align: right">
            <p>RukyGym web application</p>
            <p>DAW</p>
            <p>2021 - 2022</p>
            <p>Grupo 3</p>
        </div>
    </div>
</div>