 <!-- Prices Section Begin -->
 <section class="pricing-section spad">
  <br>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <span>Nuestros precios</span>
                  <h2>Elige tu tarifa</h2>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-8">
              <div class="ps-item">
                  <h3>1 Mes</h3>
                  <div class="pi-price">
                      <h2>19.99€</h2>
                      <span>Por persona</span>
                  </div>
                  <ul>
                      <li>Monitor a tu disposición</li>
                      <li>Tablas de ejercicios</li>
                      <li>Clases de pérdida de peso</li>
                      <li>Sin restrictión de tiempo</li>
                  </ul>
                  <a href="" class="primary-btn pricing-btn">Empieza ahora</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-8">
              <div class="ps-item">
                  <h3>12 Meses</h3>
                  <div class="pi-price">
                      <h2>99.99€</h2>
                      <span>Por persona</span>
                  </div>
                  <ul>
                      <li>Monitor a tu disposición</li>
                      <li>Tablas de ejercicios</li>
                      <li>Clases de pérdida de peso</li>
                      <li>Sin restrictión de tiempo</li>
                  </ul>
                  <a href="" class="primary-btn pricing-btn">Empieza ahora</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-8">
              <div class="ps-item">
                  <h3>6 Meses</h3>
                  <div class="pi-price">
                      <h2>59.99€</h2>
                      <span>Por persona</span>
                  </div>
                  <ul>
                      <li>Monitor a tu disposición</li>
                      <li>Tablas de ejercicios</li>
                      <li>Clases de pérdida de peso</li>
                      <li>Sin restrictión de tiempo</li>
                  </ul>
                  <a href="" class="primary-btn pricing-btn">Empieza ahora</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Prices Section End -->