.centerText {
    padding-top: 6px;
    padding-left: 10px;
}

.selector2 {
    background-color: black;
    border-radius: 5px;
    border: solid 2px #eee;
    color: white;
}

.buttonsAddActivity {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.selector2:hover {
    background-color: #f36100;
}