<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div *ngIf="activity" class="row">
        <div class="col-12">
            <div class="card">
                <div class="row el-element-overlay">
                    <div class="col-lg-8 col-md-12 col-12 card-body">

                        <h4 class="card-title" style="color: black; margin-bottom: 20px;">Datos generales</h4>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12">
                                <p style="color:black;" class="centerText"> Nombre: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text " class="form-control" name="name" pattern="[A-Za-z ]+" [(ngModel)]="activity.name">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Sala: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text " class="form-control " name="room" pattern="[A-Za-z0-9 ]+" [(ngModel)]="activity.room">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Precio: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text " class="form-control " name="price" pattern="[0-9]+(\.[0-9][0-9])?" [(ngModel)]="activity.price">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Capacidad: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text " class="form-control " name="capacity" pattern="[0-9]+" [(ngModel)]="activity.capacity">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Hora lunes: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text" class="form-control" name="monday" pattern="([0-9]|[0-1][0-9]|2[0-3]):([0-5][0-9]|60)" [(ngModel)]="activity.monday">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Hora martes: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text" class="form-control" name="tuesday" pattern="([0-9]|[0-1][0-9]|2[0-3]):([0-5][0-9]|60)" [(ngModel)]="activity.tuesday">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Hora miércoles: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text" class="form-control" name="wednesday" pattern="([0-9]|[0-1][0-9]|2[0-3]):([0-5][0-9]|60)" [(ngModel)]="activity.wednesday">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Hora jueves: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text" class="form-control" name="thursday" pattern="([0-9]|[0-1][0-9]|2[0-3]):([0-5][0-9]|60)" [(ngModel)]="activity.thursday">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Hora viernes: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input type="text" class="form-control" name="friday" pattern="([0-9]|[0-1][0-9]|2[0-3]):([0-5][0-9]|60)" [(ngModel)]="activity.friday">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 col-md-4 col-12 ">
                                <p style="color:black; " class="centerText"> Añadir imagen: </p>
                            </div>
                            <div class="col-lg-10 col-md-8 col-12 ">
                                <input class="colorBlackText" type="file" name="image" accept=".jpg, .jpeg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-12 image ">
                        <div class="el-card-avatar el-overlay-1 ">
                            <br>
                            <br>
                            <img src="/api/group-activities/{{activity.id}}/image" width="100%" alt="user ">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="border-top card"></div>
                </div>

                <div class="card-body">
                    <h4 class="card-title" style="color: black; margin-bottom: 20px;">Descripción</h4>
                    <!-- Create the container -->
                    <p><textarea style="height: 300px; color: black; width:100%" name="description">Zumba es un programa de ejercicios que combina música latina e internacional con movimientos de baile. Las rutinas de Zumba incorporan el entrenamiento por intervalos en el que se alternan ritmos rápidos y lentos para ayudar a mejorar el estado cardiovascular.</textarea></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row el-element-overlay">
        <div class="col-12 buttonsAddActivity">
            <button class="btn default btn-outline el-link selector2 colorWhiteText " type="button" (click)="save();">Guardar cambios</button>
            <a href='/new/activities'><button class="btn default btn-outline el-link selector2 colorWhiteText" type="button">Cancelar</button></a>
        </div>
    </div>

</div>