<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-12 card-body">

                            <h4 class="card-title ">Datos generales</h4>
                            <hr>
                            <div class="col-lg-3 col-md-12 col-12 image ">
                                <div class="el-card-avatar el-overlay-1 " style="margin: auto;">
                                    <img src="/users/members/{{member?.id}}/image" width="100%" alt="user " style="text-align: center;">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Nombre: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="text " class="form-control centerText ">{{member?.name}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Apellidos: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="text " class="form-control ">{{member?.surname}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> DNI/NIE: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="text " class="form-control ">{{member?.NIF}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Email: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="text " class="form-control ">{{member?.email}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Altura: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="date" class="form-control">{{member?.height}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Peso: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="date" class="form-control">{{member?.weight}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Dirección: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="text " class="form-control ">{{member?.address}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Código postal: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="text " class="form-control ">{{member?.postalCode}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Teléfono: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="text " class="form-control ">{{member?.phone}}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <p style="color:black;" class="centerText"> Fecha de nacimiento: </p>
                                </div>
                                <div class="col-lg-10 col-md-8 col-12 ">
                                    <span type="date" class="form-control">28/02/1992</span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr>

                    <div class="card-body ">
                        <h4 class="card-title " style="color: black; margin-bottom: 20px;">Información Médica</h4>
                        <!-- Create the editor container -->
                        <textarea style="height: 300px; color: black; width:100%" readonly="">{{member?.description}}
                      </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 buttonsAddActivity">
                    <a href="new/member/edit/{{member?.id}}"><button class="btn default btn-outline el-link selector2 colorWhiteText" type="button" >Editar</button></a>
                    <a href="new/members"><button class="btn default btn-outline el-link selector2 colorWhiteText " type="button " >Cancelar</button></a>
                </div>
            </div>
        </div>
    </div>

</div>
