{{>USR_header}}

<!-- log in Error Section Begin -->
<section class="classes-section spad">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
        </div>
        <div style="background-color: rgb(32, 32, 32); border-radius: 5px; width: 400px; margin-left: 31%;">
            <br>
            <img src="img/logo.png" alt="" style=" display: block; margin-left: auto; margin-right: auto;" width="200px">
            <h2 style="color: white; text-align: center;">Gymastic <strong style="color: rgb(255, 123, 0);">Log in</strong></h2>
            <br>
            <br>
            <h4 style="color: red"> Credenciales incorrectas</h4>
            <button class="primary-btn btn-normal primary-btn btn-normal new-appoinment-btn" href="/USR_log_in">Try again</button>
            <button class="primary-btn btn-normal primary-btn btn-normal new-appoinment-btn" href="USR_sign_in">Registrate</button>
            <br>
        </div>

    </div>
</section>
<!-- log in Error Section End -->

{{>USR_footer}}