<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Main Page">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ruky Gymastic - Main</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/schedule.css" type="text/css">
</head>

<body style="background-color: black;">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Responsive Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="canvas-search search-switch">
        <i class="fa fa-search"></i>
    </div>
    <nav class="canvas-menu mobile-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/USR_prices">Tarifas</a></li>
            <li><a href="/USR_activities">Actividades</a></li>
            <li><a href="/USR_contact_us">Contactanos</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="canvas-social">
        <a href="/USR_log_in">Log in</a>
        <a href="/USR_sign_in">Sign in</a>
    </div>
</div>
<!-- Responsive Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="" width="200px">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/USR_prices">Tarifas</a></li>
                        <li><a href="/USR_activities">Actividades</a></li>
                        <li><a href="/USR_contact_us">Contactanos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-option">
                    <div class="to-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    {{^log}}
                    <div class="to-social">
                        <a href="/USR_log_in">Log in</a>
                        <a href="/USR_sign_in">Sign in</a>
                    </div>
                    {{/log}}
                    {{#log}}
                    <div class="to-profile">
                        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                                <ul class="navbar-nav float-left mr-auto">
                                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                                </ul>
                                <ul class="navbar-nav float-right">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                                        <div class="dropdown-menu dropdown-menu-right user-dd animated">

                                            {{#adm}}
                                            <a class="dropdown-item" href="/statistics">Estadisticas</a>
                                            <a class="dropdown-item" href="/activities">Actividades</a>
                                            <a class="dropdown-item" href="/monitors">Monitores</a>
                                            <a class="dropdown-item" href="/clients">Clientes</a>
                                            {{/adm}}

                                            {{#cli}}
                                            <a class="dropdown-item" href="/MEMeditProfile"><i class="ti-user m-r-5 m-l-5"></i> Perfil</a>
                                            <a class="dropdown-item" href="/MEMexercise">Tablas de ejercicios</a>
                                            <a class="dropdown-item" href="/MEMstatistics">Estadisticas</a>
                                            <a class="dropdown-item" href="/MEMactivities">Actividades</a>
                                            {{/cli}}


                                            {{#mon}}
                                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> Perfil</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Tablas de Ejercicios</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Horario</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Actividades grupales</a>
                                            {{/mon}}

                                            <div class="dropdown-divider"></div>
                                            <form action="/logout" method="post">
                                                <button class="dropdown-item" type="submit"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</button>
                                                <input type="hidden" name="_csrf" value="{{token}}" />
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    {{/log}}
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->