{{>USR_header}}

    <!-- log in Section Begin -->
    <section class="classes-section spad">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div style="background-color: rgb(32, 32, 32); border-radius: 5px;">
                <br>
                <img src="img/logo.png" alt="" style=" display: block; margin-left: auto; margin-right: auto;" width="200px">
                <h2 style="color: white; text-align: center;">Gymastic <strong style="color: rgb(255, 123, 0);">Sign in</strong></h2>
                <br>
                <br>
                <form action="/action_page.php" style="text-align: left; margin-left: 20%;">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fname"><h4 style="color: white;">Nombre:</h4></label>
                            <br>
                            <input type="text" id="fname" name="fname"><br><br>

                            <label for="fname"><h4 style="color: white;">Apellidos:</h4></label>
                            <br>
                            <input type="text" id="fname" name="fname"><br><br>

                            <label for="fname"><h4 style="color: white;">Sexo:</h4></label>
                            <br>
                            <input type="text" id="fname" name="fname"><br><br>

                            <label for="lname"><h4 style="color: white;">DNI:</h4></label>
                            <br>
                            <input type="text" id="lname" name="lname"><br><br>

                            <label for="lname"><h4 style="color: white;">Fecha Nacimiento:</h4></label>
                            <br>
                            <input type="text" id="lname" name="lname"><br><br>

                            <label for="lname"><h4 style="color: white;">Teléfono:</h4></label>
                            <br>
                            <input type="text" id="lname" name="lname"><br><br>
                        </div>

                        <div class="col-lg-6">
                            <label for="lname"><h4 style="color: white;">Código Postal:</h4></label>
                            <br>
                            <input type="text" id="lname" name="lname"><br><br>

                            <label for="fname"><h4 style="color: white;">Usuario:</h4></label>
                            <br>
                            <input type="text" id="fname" name="fname"><br><br>

                            <label for="lname"><h4 style="color: white;">Correo:</h4></label>
                            <br>
                            <input type="text" id="lname" name="lname"><br><br>

                            <label for="lname"><h4 style="color: white;">Contraseña:</h4></label>
                            <br>
                            <input type="text" id="lname" name="lname"><br><br>

                            <label for="lname"><h4 style="color: white;">Repetir contraseña:</h4></label>
                            <br>
                            <input type="text" id="lname" name="lname"><br><br>

                            <label for="lname"><h4 style="color: white;">Tarifa:</h4></label>
                            <br>
                            <input list="tarifas" name="tarifas">
                            <datalist id="tarifas">
                                <option value="1 Month (19,99€)">
                                <option value="6 Months (59,99€)">
                                <option value="12 Months (99,99€)">
                            </datalist>
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Acceder" class="primary-btn btn-normal primary-btn btn-normal new-appoinment-btn">

                </form>
                <br>
            </div>

        </div>
    </section>
    <!-- log in Section End -->

{{>USR_footer}}