{{>USR_header}}

    <!-- log in Section Begin -->
    <section class="classes-section spad">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
            </div>
            <div style="background-color: rgb(32, 32, 32); border-radius: 5px; width: 400px; margin-left: 31%;">
                <br>
                <img src="img/logo.png" alt="" style=" display: block; margin-left: auto; margin-right: auto;" width="200px">
                <h2 style="color: white; text-align: center;">Gymastic <strong style="color: rgb(255, 123, 0);">Log in</strong></h2>
                <br>
                <br>
                <form action="/USR_log_in" method="post" style="text-align: center;">
                    <input type="text" name="username" placeholder="Usuario" required><br><br>
                    <input type="password" name="password" placeholder="Contraseña" required><br><br>
                    <input type="submit" value="Acceder" class="primary-btn btn-normal primary-btn btn-normal new-appoinment-btn">
                </form>
                <br>
            </div>

        </div>
    </section>
    <!-- log in Section End -->

{{>USR_footer}}