{{>USRADM_Header}}
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Clientes</h4>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row page">
                <div class="col-12">
                    <form method="post" action="/deleteClients">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title colorBlackText">Lista de clientes</h5>
                                <div class="table-responsive colorBlackText">
                                    <table id="zero_config" class="table table-striped table-bordered ">

                                        <thead class="colorOrangeText">
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Año de nacimiento</th>
                                            <th>DNI/NIE</th>
                                            <th>Seleccionar</th>
                                        </tr>
                                        </thead>
                                        <tbody class="colorBlackText">
                                        {{#list}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{birthday.getSpanishFormat}}</td>
                                            <td>{{NIF}}</td>
                                            <td><label class="customcheckbox m-b-20">
                                                <input type="checkbox" id="mainCheckbox{{id}}" name="id" value="{{id}}">
                                                <span class="checkmark"></span>
                                            </label></td>
                                        </tr>
                                        {{/list}}
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn default btn-outline el-link selector2 colorWhiteText" type="button" id="loadMore">
                                    Cargar más
                                    <i class="" id="spinner"></i>
                                </button>
                            </div>

                        </div>
                        <div class="row el-element-overlay">
                            <div class="col-12 buttonsAddActivity">
                                <input class="btn default btn-outline el-link selector2 colorWhiteText" type="submit" value="Eliminar"/>
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                <button class="btn default btn-outline el-link selector2 colorWhiteText" type="button" onclick="location.href='/clients'">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        {{>USRADM_Footer}}
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="/assets/extra-libs/DataTables/datatables.min.js"></script>
<!-- <script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script> -->
<script>
    var contPage = 1;
    $( "#loadMore" ).click(function() {
        $.ajax({
            url: "/clients/page/" + contPage,
            method: "get",
            beforeSend: ()=>{
                $("#spinner").addClass("fa fa-circle-notch fa-spin");
            }
        }).done(function (answer) {
            $("tr").last().after(answer);
            contPage += 1;
            $("#spinner").removeClass("fa fa-circle-notch fa-spin");
            if(contPage === {{last}}){
                $("#loadMore").off("click");
                $("#loadMore").remove();
            }
        });
    });
</script>

</body>

</html>