<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>Ruky Gymastic - Editar monitor</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/quill/dist/quill.snow.css">
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">
        {{>USRADM_Header}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Modificar información del monitor</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <form action="/editMonitor/{{id}}" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title " style="color: black; margin-bottom: 20px; padding-left:9px;">Datos generales</h4>

                                    <div class="row mb-3">
                                        <div class="col-lg-2 col-md-4 col-12">
                                            <p style="color:black;" class="centerText"> Nombre: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.name}}" name="name" pattern="[a-zA-Z ]+"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-lg-2 col-md-4 col-12">
                                            <p style="color:black;" class="centerText"> Apellidos: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.surname}}" name="surname" pattern="[a-zA-Z ]+"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> DNI/NIE: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.NIF}}" name="NIF" pattern="[0-9]{8}[A-Za-z]|(X|Y|Z)[0-9]{7}[a-zA-Z]"/> <!--pattern digitos de control-->
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> Email: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.email}}" name="email" pattern="[a-zA-Z0-9]+\@[a-zA-Z]+\.[a-zA-Z]+"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> Dirección: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.address}}" name="address" pattern="[a-zA-Z,./ 0-9áéíóúü]+"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> Código postal: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.postalCode}}" name="postalCode" pattern="[0-9]{5}"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> Teléfono: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.phone}}" name="phone" pattern="(6|7){1}}[0-9]{8}"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> Fecha de nacimiento: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.birthday}}" name="birthdayDate" pattern="([0-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/[0-9]{4}"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> Fecha de alta: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.hiringDate}}" name="hiringDate" pattern="([0-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/[0-9]{4}"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3 ">
                                        <div class="col-lg-2 col-md-4 col-12 ">
                                            <p style="color:black; " class="centerText"> Actividad: </p>
                                        </div>
                                        <div class="col-lg-10 col-md-8 col-12 ">
                                            <input type="text" class="form-control " value="{{monitor.activityName}}" name="activityName" pattern="[a-zA-Z]+"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body ">
                                    <div class="border-top card "></div>
                                </div>

                                <div class="card-body ">
                                    <h4 class="card-title " style="color: black; margin-bottom: 20px; ">Experiencia y carrera profesional</h4>
                                    <!-- Create the editor container -->
                                    <textarea id="editor" style="height: 300px; color: black; width:100%" name="description">
                                        <p>{{monitor.description}}</p>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row el-element-overlay">
                        <div class="col-12 buttonsAddActivity">
                            <input class="btn default btn-outline el-link selector2 colorWhiteText" type="submit" value="Guardar cambios"></input>
                            <button class="btn default btn-outline el-link selector2 colorWhiteText" type="button" onclick='location.href="/monitors"'>Cancelar</button>
                        </div>
                    </div>
                </form>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{>USRADM_Footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js "></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js "></script>
    <!--Wave Effects -->
    <script src="/dist/js/waves.js "></script>
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js "></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js "></script>
    <!-- This Page JS -->
    <script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js "></script>
    <script src="/dist/js/pages/mask/mask.init.js "></script>
    <script src="/assets/libs/select2/dist/js/select2.full.min.js "></script>
    <script src="/assets/libs/select2/dist/js/select2.min.js "></script>
    <script src="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js "></script>
    <script src="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js "></script>
    <script src="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js "></script>
    <script src="/assets/libs/jquery-minicolors/jquery.minicolors.min.js "></script>
    <script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js "></script>
    <script src="/assets/libs/quill/dist/quill.min.js "></script>
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2 ").select2();

        /*colorpicker*/
        $('.demo').each(function() {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>
</body>

</html>