<div class="row el-element-overlay page">
    {{#listMON}}
    <div class="col-lg-3 col-md-6 col-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"><img
                        style="width:200px; height:280px; object-fit:cover; margin: auto"
                        src="/MONexerciseTable/{{id}}/image" alt=" "/>
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                          <!--  <li class="el-item">
                                <button class="btn default btn-outline el-link colorOrangeText"
                                        onclick='location.href="/MONexerciseTable/{{id}}"'><i class="mdi mdi-eye"></i>
                                </button>
                            </li> -->
                            <li class="el-item"><a class="btn default btn-outline el-link" href="/MONexerciseTable/{{id}}"><i class="mdi mdi-eye"></i></a></li>
                           <!-- <li class="el-item">
                                <button class="btn default btn-outline el-link colorOrangeText"
                                        onclick='location.href="/MONeditExerciseTable/{{id}}"'><i
                                        class="mdi mdi-pencil"></i></button>
                            </li> -->
                            <li class="el-item"><a class="btn default btn-outline el-link" href="/MONeditExerciseTable/{{id}}"><i class="mdi mdi-pencil"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h4 class="m-b-0">{{name}}</h4>
                </div>
            </div>
        </div>
    </div>
    {{/listMON}}
</div>