<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo.png">
    <title>Ruky Gymastic - Estadísticas</title>
    <!-- Custom CSS -->
    <link href="/assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9] -->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!-- [endif] -->
</head>

<body>
    {{>USRMEM_preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        {{>USRMEM_header}}
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Charts</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->

                <!-- Charts -->
                <!-- Chart-1 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body colorBlackText">
                                <h5 class="card-title">Turning-series chart</h5>
                                <div id="placeholder" style="height: 400px;"></div>
                                <p id="choices" class="m-t-20"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Chart-1 -->

                <!-- Chart-2 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body colorBlackText">
                                <h5 class="card-title">Line Chart</h5>
                                <div class="bars" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Chart-2 -->

                <!-- End Charts -->
                <!-- ============================================================== -->
                <!-- End Page Content -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            {{>USRMEM_footer}}
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <!--Menu sidebar -->
    <script src="dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="assets/libs/chart/matrix.interface.js"></script>
    <script src="assets/libs/flot/jquery.flot.js"></script>
    <script src="assets/libs/chart/matrix.charts.js"></script>
    <script src="assets/libs/chart/jquery.flot.pie.min.js"></script>
    <script src="assets/libs/chart/turning-series.js"></script>
    <script>
        $(function() {
            // we use an inline data source in the example, usually data would
            // be fetched from a server
            // ==============================================================
            // Real Time Visits
            // ==============================================================
            var data = [5, 10, 15, 20, 15, 30, 40],
                totalPoints = 100;

            function getRandomData() {
                if (data.length > 0) data = data.slice(1);
                // Do a random walk
                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 10,
                        y = prev + Math.random() * 10 - 5;
                    if (y < 0) {
                        y = 0;
                    } else if (y > 100) {
                        y = 100;
                    }
                    data.push(y);
                }
                // Zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]])
                }
                return res;
            }
            // Set up the control widget
            var updateInterval = 1000;
            $("#updateInterval").val(updateInterval).change(function() {
                var v = $(this).val();
                if (v && !isNaN(+v)) {
                    updateInterval = +v;
                    if (updateInterval < 1) {
                        updateInterval = 1;
                    } else if (updateInterval > 1000) {
                        updateInterval = 1000;
                    }
                    $(this).val("" + updateInterval);
                }
            });
            var plot = $.plot("#real-time", [getRandomData()], {
                series: {
                    shadowSize: 1, // Drawing is faster without shadows
                    lines: { fill: true, fillColor: 'transparent' },
                },
                yaxis: {
                    min: 0,
                    max: 100,
                    show: true
                },
                xaxis: {
                    show: false
                },
                colors: ["#488c13"],
                grid: {
                    color: "#AFAFAF",
                    hoverable: true,
                    borderWidth: 0,
                    backgroundColor: 'transparent'
                },
                tooltip: true,
                tooltipOpts: {
                    content: "Visits: %x",
                    defaultTheme: false
                }
            });
            window.onresize = function(event) {
                $.plot($("#real-time"), [getRandomData()]);
            }

            function update() {
                plot.setData([getRandomData()]);
                // Since the axes don't change, we don't need to call plot.setupGrid()
                plot.draw();
                setTimeout(update, updateInterval);
            }
            update();

            console.log("document ready");
            var offset = 0;
            plot1();

            function plot1() {
                var sin = []
                    , cos = [];
                for (var i = 0; i < 12; i += 0.2) {
                    sin.push([i, Math.sin(i + offset)]);
                    cos.push([i, Math.cos(i + offset)]);
                }
                var options = {
                    series: {
                        lines: {
                            show: true
                        }
                        , points: {
                            show: true
                        }
                    }
                    , grid: {
                        hoverable: true //IMPORTANT! this is needed for tooltip to work
                    }
                    , yaxis: {
                        min: -1.2
                        , max: 1.2
                    }
                    , colors: ["#ee7951", "#4fb9f0"]
                    , grid: {
                        color: "#AFAFAF"
                        , hoverable: true
                        , borderWidth: 0
                        , backgroundColor: '#FFF'
                    }
                    , tooltip: true
                    , tooltipOpts: {
                        content: "'%s' of %x.1 is %y.4"
                        , shifts: {
                            x: -60
                            , y: 25
                        }
                    }
                };
                var plotObj = $.plot($("#flot-line-chart"), [{
                    data: sin
                    , label: "sin(x)"
                    , }, {
                    data: cos
                    , label: "cos(x)"
                }], options);
            }

        });
    </script>
</body>

</html>