{{>USRMON_Header}}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Editar actividad</h4>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <form action="/MONeditExerciseTable/{{exerciseTable.id}}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row el-element-overlay">
                            <div class="col-lg-8 col-md-12 col-12 card-body">

                                <h4 class="card-title" style="color: black; margin-bottom: 20px;">Datos generales</h4>
                                <div class="row mb-3">
                                    <div class="col-lg-2 col-md-4 col-12">
                                        <p style="color:black;" class="centerText"> Nombre: </p>
                                    </div>
                                    <div class="col-lg-10 col-md-8 col-12 ">
                                        <input type="text " class="form-control" value="{{exerciseTable.name}}" name="name" />
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-lg-2 col-md-4 col-12 ">
                                        <p style="color:black; " class="centerText"> Añadir imagen: </p>
                                    </div>
                                    <div class="col-lg-10 col-md-8 col-12 ">
                                        <input class="colorBlackText" type='file' name='image' accept=".jpg, .jpeg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12 image ">
                                <div class="el-card-avatar el-overlay-1 ">
                                    <br>
                                    <br>
                                    <img src="/MONexerciseTable/{{id}}/image" width="100%"  alt="user " />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="border-top card"></div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title colorBlackText">Lista de Ejercicios</h5>
                            <div class="table-responsive colorBlackText">
                                <table id="zero_config" class="table table-striped table-bordered ">

                                    <thead class="colorOrangeText">
                                    <tr>
                                        <th>Ejercicio</th>
                                        <th>Descripcion</th>
                                        <th>Seleccionar</th>
                                    </tr>
                                    </thead>
                                    <tbody class="colorBlackText">
                                    {{#exerciseTable.exercises}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{description}}</td>
                                        <td><label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox{{id}}" name="id" value="{{id}}" checked/>
                                            <span class="checkmark"></span>
                                        </label></td>
                                    </tr>
                                    {{/exerciseTable.exercises}}
                                    </tbody>
                                </table>
                            </div>

                        <div class="card-body">
                            <h4 class="card-title" style="color: black; margin-bottom: 20px;">Descripción</h4>
                            <!-- Create the container -->
                            <p><textarea style="height: 300px; color: black; width:100%" name="description">{{exerciseTable.description}}
                                </textarea></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row el-element-overlay">
                <div class="col-12 buttonsAddActivity">
                    <input class="btn default btn-outline el-link selector2 colorWhiteText" type="submit" value="Guardar cambios"/>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button class="btn default btn-outline el-link selector2 colorWhiteText" type="button" onclick="location.href='/MONexerciseTable'">Cancelar</button>
                </div>
            </div>
        </form>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    {{>USRMON_Footer}}
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/dist/js/custom.min.js"></script>
<!-- This Page JS -->
<script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="/dist/js/pages/mask/mask.init.js"></script>
<script src="/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/libs/quill/dist/quill.min.js"></script>
<script>
    //***********************************//
    // For select 2
    //***********************************//
    $(".select2").select2();

    /*colorpicker*/
    $('.demo').each(function() {
        //
        // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //
        //  $(selector).minicolors();
        //
        // The way I've done it below is just for the demo, so don't get confused
        // by it. Also, data- attributes aren't supported at this time...they're
        // only used for this demo.
        //
        $(this).minicolors({
            control: $(this).attr('data-control') || 'hue',
            position: $(this).attr('data-position') || 'bottom left',

            change: function(value, opacity) {
                if (!value) return;
                if (opacity) value += ', ' + opacity;
                if (typeof console === 'object') {
                    console.log(value);
                }
            },
            theme: 'bootstrap'
        });

    });
    /*datwpicker*/
    jQuery('.mydatepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>
</body>

</html>