<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title text">Usuario</h4>
                        </div>
                        <div class="col-md-6">
                            <button class="btn default btn-outline el-link selector" type="button"><a href="USRMEM_02Profile.html">Resetear</a></button>
                            <button class="btn default btn-outline el-link selector" type="button"><a href="USRMEM_02Profile.html">Cancelar</a></button>
                            <button class="btn default btn-outline el-link selector" type="button"><a href="USRMEM_02Profile.html">Guardar</a></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-top card" style="margin-top:20px">
                                <div class="card-body">
                                    <h5 class="card-subtitle">Información Básica</h5>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="card align-items-center">
                                                <div class="p-2"><img src="assets/images/users/1.jpg" alt="user" width="80" class="rounded-circle"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right text control-label col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="fname" placeholder="Nombre">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right text control-label col-form-label">Apellidos</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="lname" placeholder="Apellidos">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right text control-label col-form-label">Nombre de usuario</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="user" placeholder="@NombreUsuario">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right text control-label col-form-label">Contraseña</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" id="password" placeholder="Contraseña">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label for="cono1" class="col-sm-3 text-right text control-label col-form-label">Fecha de nacimiento</label>
                                                <div class="col-sm-9 input-group">
                                                    <input type="text" class="form-control" id="datepicker-autoclose" placeholder="dd/mm/yyyy">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 text-right text control-label col-form-label">Sexo</label>
                                                <div class="col-sm-9 ">
                                                    <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                                      <option>Mujer</option>
                                                      <optgroup label="Sexo" >
                                                          <option value="H">Hombre</option>
                                                          <option value="M">Mujer</option>
                                                          <option value="B">No contesto</option>
                                                      </optgroup>
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right text control-label col-form-label">Altura</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="heigh" placeholder="Ej. 180(cm)">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right text control-label col-form-label">Peso</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="weight" placeholder="Ej. 60(kg)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-top card">
                                <div class="card-body">
                                    <h4 class="card-subtitle">Imagen</h4>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                            <label class="custom-file-label" for="validatedCustomFile">Elige un fichero</label>
                                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-top card">
                                <div class="card-body">
                                    <h5 class="card-subtitle">Información Adicional</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="cono1" class="col-sm-3 text-right text control-label col-form-label">Domicilio</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="cono1" placeholder="Domicilio">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cono1" class="col-sm-3 text-right text control-label col-form-label">Código Postal</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="cono1" placeholder="XXXXX">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="cono1" class="col-sm-3 text-right text control-label col-form-label">Teléfono de contacto</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="cono1" placeholder="+XX-XXX XX XX XX">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cono1" class="col-sm-3 text-right text control-label col-form-label">Tarjeta Bancaria</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="cono1" placeholder="000-000-000">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-top card">
                                <div class="card-body">
                                    <h5 class="card-subtitle">Información Médica</h5>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right text control-label col-form-label">Información médica adicional</label>
                                        <div class="col-sm-9">
                                            <textarea type="text" class="form-control" id="cono1" placeholder="Indicar alergias a tratamientos o lesiones crónicas"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>