<div *ngIf="visible" id="sideMenu" class="navColor">
    <div class="col-12">
        <ul class="nav navPillsPersonalized nav-stacked fixNav">
            <a href="memberexercise-tables">
                <li [ngClass]="classExerciseTables">Tablas de ejercicios</li>
            </a>
            <a href="memberprofile">
                <li [ngClass]="classProfile">Perfil</li>
            </a>
            <a href="memberstatistics">
                <li [ngClass]="classStatistics">Estadísticas</li>
            </a>
            <a href="memberactivities">
                <li [ngClass]="classActivities">Actividades Grupales</li>
            </a>
        </ul>
    </div>
</div>
